@import url(http://fonts.googleapis.com/css?family=Cinzel);

html, body, section {
	font-family: 'Cinzel', serif;
  height: 800px;
  background-color: #2d2d2d;
}
div.vsplitter{
	background-color:rgba(0,0,0,0.1);
}

h1{
	font-size: 50px;
	font-weight: bold;
}

h3{
	color:white;
	font-size: 20px;

}

/*per cell grid*/
.row{
	height: 63px;
	width: 850px;

}

.province{
	height: 63px;
	border:1px solid darkgrey;
	text-align: center;
	left:14px;
	font-size: 15px !important; 
	padding: 4px;
	cursor: pointer;
	font-family: sans-serif;
}

.province:hover{
	background-color: rgba(100,100,100,0.5);
}

#map,#map_grid{
	width:850px;
	height:770px;
	position: absolute;
}

/*Sidebar Styling*/

#sidebar{
	background-color: #2d2d2d;
	padding: 20px;
	margin-left: 40px;
}
#sidebar_wrapper{
	padding-left: 40px;
}

header{
	color:crimson;
}

article ul{
	list-style: none;
	padding:0px;
}

p small{
	text-align: center;
}

#phase_log, #status_log{
	min-height: 150px;
	margin: 5px 10px;
	font-size: 20px;
}

#phase_log{
	text-align: center;
	background-color: #f2e9c3;
}

#status_log{
	padding: 10px 20px;
	background-color: #b0d5db;
	margin-bottom: 50px;
}

article{
	padding:10px;
	margin: auto;
}

#control_box button{
	padding: 25px;
	border: 2px darkred solid;
	font-size: 25px;
	margin: auto;
}

#control_box button:hover{
	background-color: darkred;
	color:white;
}

td, th{
	text-align: center;
}

#phase_log p{
	color:darkred;
}

#turn_reminder{
	position: fixed;
	margin: auto;
	left:540px;
	bottom:50px;
	background-color: rgb(216,164,38);
	padding: 20px;
	font-size: 30px;
}

#tooltip{
	text-align: right;
	color:white;
	position: fixed;
	left:20px;
	bottom:50px;
	font-size: 30px;
	background-color: rgba(148,9,9,0.8);
}

.battle_tally{
	position: absolute;
	bottom:45%;
	left:30%;
	color: red;
	font-size: 40px;
}

.garrison_color{
	color:springgreen;
}

.p1_colors{
	background-color: rgba(0,15,88,0.5);
	color:blue;
}
.p2_colors{
	background-color: rgba(24,79,30,0.5);
	color:purple;
}
.neut_colors{
	background-color: rgba(77,37,4,0.5);
	color:khaki;
}

/*red*/
.defender_color{ 
	background-color: rgba(255,0,0,0.7) !important;
}
/*light red*/
.adjacent_color{
	background-color: rgba(255,0,0,0.3) !important;
}
/*light blue*/
.attacker_color{
	background-color: rgba(150,0,38,0.8) !important;
}

/*hover on attack*/
.hover_attack{
	border: red 2.5px solid !important;
}

.invade_ind{
	color: #fbabab;
}

#player1_roll{
	color:rgba(0,15,88,1);
}
#player2_roll{
	color:rgba(24,79,30,1);
}

