html, body, section {
    height: 800px;
    font-family: Arvo;
}
h1{
	font-size: 70px;
	font-weight: bold;
}

#splitter{
	height: 200px;
	width: 500px;
	border: 5px solid #aaa;
}

.vsplitbar {
	width: 5px;
	background: #aaa;
}

#splitter div{
	overflow: auto;
}

/*per cell grid*/
.row{
	height: 63px;
	width: 850px;

}

.province{
	height: 63px;
	border:1px solid darkgrey;
	text-align: center;
	left:15px;
	color:crimson;
	font-size: 15px;
	padding: 10px;
}

.province:hover{
	background-color: rgba(100,100,100,0.5);
}

#map,#map_grid{
	width:850px;
	height:770px;
	position: absolute;
}

/*Sidebar Styling*/

#sidebar{
	float:right;
	width:auto;
	background-color: #2d2d2d;
	height: auto;
	overflow: auto;
	padding: 20px;

}

header{
	color:crimson;
	padding:0px 10px;
}

article ul{
	list-style: none;
	padding:0px;
}

p small{
	text-align: center;
}

#phase_log, #status_log{
	min-height: 150px;
	background-color: #f2e9c3;
	margin: 5px 10px;
	font-size: 20px;
}

article{
	padding:10px;
	margin: auto;
}

#control_box button{
	padding: 35px;
	font-size: 25px;
	margin: auto;
}

#test{
	text-align: right;
	color:white;
	position: fixed;
	left:20px;
	bottom:100px;
	background-color: rgba(148,9,9,0.6);
}
.p1_colors{
	background-color: rgba(0,15,88,0.5);
}
.p2_colors{
	background-color: rgba(24,79,30,0.5);
}
.neut_colors{
	background-color: rgba(77,37,4,0.5);
}

.defender_color2{
	background-color: rgba(255,0,0,0.7) !important;
}
.adjacent_color1{
	background-color: rgba(255,0,0,0.3) !important;
}

